*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
}
.box01  {
    padding-top: 25px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}
section .valores {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 201px 201px 0 rgba(0, 0, 0, 0.19);
}
.titulo {
    padding-top: 30px;
    padding-bottom: 50px;
}
.box02 {
    width: 100%;
    height: 40px;
   
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 6px;
    align-items: center;
    
    
}
.box03 {
    padding:20px;
}
input {
    padding: 5px;
    border-radius: 5px;
}

.valores input .entrada {
    text-align: center;
}


#status {
    padding: 5px 5px;
    border-radius: 5px;
}
box-icon #delete {
    cursor: pointer;
}

